/* Style.css
 * for Word-guess-game
*/

body {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  margin-bottom: 1.7rem;
}

h2 {
  margin-bottom: 1.5rem;
}

.main-container {
  border: 14px dashed black;
}

.right-side {
  border-left: 14px dashed black;
}

.right-side, .left-side {
  padding: 1.5rem;
}