/* Style.css
 * for Word-guess-game
*/

body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

h1 {
  margin-bottom: 1.7rem;
}

h2 {
  margin-bottom: 1.5rem;
}

.main-container {
  border: 12px dashed whitesmoke;
  color: whitesmoke;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.right-side {
  border-left: 12px dashed whitesmoke;
}

.right-side, .left-side {
  padding: 1.5rem;
}

#end-of-game {
  font-size: x-large;
  color: orangered;
}

.head-container {
  background-image: url('../images/word-guess-80v2.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 2rem;
}

.choose-ltr {
  /* margin top */
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: x-small;
}