/* Style.css
 * for Word-guess-game
*/

body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

h1 {
  margin-bottom: 1.7rem;
}

h2 {
  margin-bottom: 1.5rem;
}

.main-container {
  border: 14px dashed whitesmoke;
  color: whitesmoke;
}

.right-side {
  border-left: 14px dashed whitesmoke;
}

.right-side, .left-side {
  padding: 1.5rem;
}

#end-of-game {
  font-size: x-large;
  color: orangered;
}

.head-container {
  background-image: url('../images/80s-theme.svg');
  height: 300px;
}